/* Custom fonts */
@font-face {
    font-family: 'PPTelegraf-Regular';
    src: url('../fonts/PPTelegraf-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PPTelegraf-UltraBold';
    src: url('../fonts/PPTelegraf-UltraBold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PPTelegraf-UltraLight';
    src: url('../fonts/PPTelegraf-UltraLight.otf') format('opentype');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'StarJedi-DGRW';
    src: url('../fonts/StarJedi-DGRW.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
h1 {
    font-family: 'PPTelegraf-Regular', sans-serif;
    color: white;
}

body,
.nav-link,
.container {
    background-color: #14121c;
    color: white;
}

/* Custom scroll bar */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #C669FF, #6b15f5);
    border-radius: 10px;
}

/* Navbar */
.navbar p {
    font-size: 20px;
}

.navbar a {
    font-size: 20px;
    margin-right: 5px;
    background-color: transparent;
    /* background-color: #302655; */
}

.nav-link.active,
.nav-link:hover {
    color: #C669FF !important;
}

section {
    min-height: 80vh;
    /* display: flex;
    justify-content: center;
    flex-wrap: wrap; */
}

.fade {
    position: relative;
    width: 100%;
    height: 5vh;
    top: -25px;
    background-image: linear-gradient(0deg, transparent, black 75%);
    z-index: 1;
}

#star-wars {
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
    height: 800px;
    color: #feda4a;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 500%;
    font-weight: 600;
    letter-spacing: 6px;
    line-height: 150%;
    perspective: 400px;
    text-align: justify;
}

#crawl {
    position: relative;
    transform-origin: 50% 100%;
    animation: crawl 60s linear 0s infinite none;
}

#crawl .title {
    font-size: 90%;
    text-align: center;
}

#crawl .title h1 {
    margin-bottom: 100px;
    text-transform: uppercase;
}

#crawl .title p {
    margin-top: 800px;
}

@keyframes crawl {
    0% {
        top: -100px;
        transform: rotateX(20deg) translateZ(0);
    }

    100% {
        top: -6000px;
        transform: rotateX(25deg) translateZ(-2500px);
    }
}

.carousel-inner {
    margin: auto;
    width: 79%;
}

.kepek {
    opacity: 1;
    display: block;
    transform: 0.5s ease;
    max-width: 100%;
    transition: all 0.3s;
    width: 100%;
    height: 100%;
    transform: scale(1);
}

.filmkepek {
    opacity: 1;
    display: block;
    transform: 0.5s ease;
    width: 35vh;
    transition: all 0.3s;
    transform: scale(1);
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 25px;
    color: white;
    overflow: hidden;
    text-align: center;
    white-space: normal;
}

.maintitle {
    margin-top: 30vh;
}

section h2 {
    font-size: 50px;
    margin-top: 10vh;
}

/* Drop down arrow */
.arrows {
    width: 60px;
    height: 72px;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    bottom: 40px;
}

.arrows path {
    stroke: #C669FF;
    fill: transparent;
    stroke-width: 2px;
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
    0% {
        opacity: 0
    }

    40% {
        opacity: 1
    }

    80% {
        opacity: 0
    }

    100% {
        opacity: 0
    }
}

@-webkit-keyframes arrow {
    0% {
        opacity: 0
    }

    40% {
        opacity: 1
    }

    80% {
        opacity: 0
    }

    100% {
        opacity: 0
    }
}

.arrows path.a1 {
    animation-delay: -1s;
    -webkit-animation-delay: -1s;
}

.arrows path.a2 {
    animation-delay: -0.5s;
    -webkit-animation-delay: -0.5s;
}

.arrows path.a3 {
    animation-delay: 0s;
    -webkit-animation-delay: 0s;
}

/* Custom box */

.box {
    width: 42vh;
    height: 25vh;
    /* background-color: #6b15f5; */
    border: 10px solid #6b15f5;
    border-radius: 5%;
    margin: 5vh 5vh;
    padding: 0;
    position: relative;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    overflow: hidden;
}

.filmbox {
    width: 42vh;
    height: 50vh;
    /* background-color: #6b15f5; */
    border: 10px solid #6b15f5;
    border-radius: 5%;
    margin: 5vh 5vh;
    padding: 0;
    position: relative;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    overflow: hidden;
}

.overlay {
    opacity: 0;

}

.box:hover .kepek {
    opacity: 0.5;
    transform: scale(1.1);
}

.box:hover .overlay {
    opacity: 1;
}

/* Popop ablak*/

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popup {
    position: fixed;
    top: 100vh;
    left: 0px;
    width: 100%;
    height: 100%;
    transition: top 0ms ease-in-out 300ms;
}

.popup .overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 100ms ease-in-out 200ms;
}

.popup .popup-content {
    position: absolute;
    background-color: #14121c;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.15);
    width: 95%;
    max-width: 1000px;
    padding: 25px;
    border-radius: 20px;
    opacity: 0;
    box-shadow: 0px 2px 2px 5px rgba(0, 0, 0, 0, 0.05);
    transition: all 300ms ease-in-out;
    padding-top: 0px;
}

.popup .popup-content h2 {
    margin: 10px 0px;
    font-size: 25px;
    color: #fff;
    text-align: center;
}

.popup .popup-content p {
    margin: 15px 0px;
    color: #222;
    font-size: 16px;
    text-align: center;
}

.popup .popup-content .controls {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px 0px;
}

.popup .popup-content .controls button {
    padding: 10px 20px;
    background-color: #C669FF !important;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 20px;
    cursor: pointer;
    margin-left: auto;
}

.popup .popup-content .controls button:hover {
    color: black;
    background: linear-gradient(45deg, #C669FF, #6b15f5);
    transition: 300ms;
}


.popup .popup-content .controls .close-btn {
    background: #3284ed;
    color: white;
}


.popup.active {
    top: 0px;
    transition: top 0ms ease-in-out 0ms;
}

.popup.active .overlay {
    opacity: 1;
    transition: all 300ms ease-in-out;
}

.popup.active .popup-content {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}